.notice-address-form {
  .wp-notice-type {
    .notice-type1-container{
      margin-top: 10px;
    }
    .notice-type {
      width: auto !important;
      float: left;
      margin-right: 50px;
    }
  }

  .team-label {
    padding-bottom: 10px;

    .small-label{
      font-size: 14px;
      font-weight: bold !important;
      color: #414141;
    }
  }
}

