.wp-team-detail {
  width: 100%;
  clear: both;
  .team-detail {
    background-color: #ebebeb;
    padding: 3px 10px;
    float: left;
    margin: 5px 0px 0px 5px;
    border-radius: 3px;
  }
}

.field-form {
  .selected-team {
    padding: 30px 0px;
  }

  .txt-bold {
    font-weight: bold;
  }
}
