.detail-field {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid;
  .header {
    height: 50px;
    background-color: #636363;
    padding-left: 10px;
    p {
      color: white;
      margin-top: 15px;
      font-weight: bold;
    }
  }
  .content {
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
  }
}
.title-field {
  .label-name {
    font-weight: bold;
  }
  .form-icon {
    margin-right: 10px;
    vertical-align: bottom;
  }
}
