SESSION_TIMEOUT: "90"
LOCALE: "ja"

BUCKET: ""
ACCESS_KEY_ID: ""
SECRET_ACCESS_KEY: ""
S3_REGION: ""

REDIS_NAMESPACE: "faq"
REDIS_HOST: "localhost"
REDIS_PORT: "6379"
REDIS_DB: "3"
REDIS_SIDEKIQ_DB: "5"

# Config Framgia mail
MAIL_DRIVER: "smtp"
MAIL_HOST: "ms01.framgia.com"
MAIL_PORT: "587"
MAIL_USERNAME:
MAIL_PASSWORD:
MAIL_ENCRYPTION: "tls"
MAIL_AUTHENTICATION: "login"
EMAIL_SERVER_ADDRESS: "customer.service.pms@framgia.com"
SEND_MAIL_UNREAD_NOTIFICATION_FREQUENCY_IN_MINUTE: "2"
