.notification-form {
  .time-label {
    padding-left: 10px;
    padding-bottom: 15px;
  }

  .select-date {
    padding-left: 0;
  }

  .text-after {
    padding-top: 22px;
  }

  .custom-select-date {
    div {
      width: 100% !important;
    }
  }
}
